<!DOCTYPE html>
<html>
<head>
  <title>the candies api</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<div id="container">
  <div id="img">
    <img src="images/candy_people_by_geencer-d6j1304.jpg" alt="candy people">
  </div>
  <div id="doc">
  <h1>the candies api documentation</h1>
  <table>
    <thead>
      <th>request</th>
      <th>URL</th>
      <th>action</th>
    </thead>
    <tr>
      <td>GET</td>
      <td>/candies</td>
      <td>INDEX of all candies in the candies db</td>
    </tr>
    <tr>
      <td>GET</td>
      <td>/candies/:id</td>
      <td>SHOW the specified candy from the candies db</td>
    </tr>
    <tr>
      <td>POST</td>
      <td>/candies</td>
      <td>CREATE a new candy in the candies db</td>
    </tr>
    <tr>
      <td>PUT</td>
      <td>/candies/:id</td>
      <td>UPDATE the specified candy in the candies db</td>
    </tr>
    <tr>
      <td>DELETE</td>
      <td>/candies/:id</td>
      <td>DESTROY the specified candy in the candies db</td>
    </tr>
  </table>
  </div>
</div>
</body>
</html>