
body {
  background: rgb(254, 250, 213);
  font: 18px 'Lato', sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

#container {
  margin: 20px;
}

#img {
  float: left;
}

#doc {
  float: left;
}